.task {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-bar {
  width: 100%;
  max-width: 360px;
  margin-top: auto;
}
.task-detail {
  margin: 16px;
  width: 100%;
  max-width: 360px;
}
.input-field {
  width: 90%;
  max-width: 324px;
}
.button-half-width {
  width: 50%;
}
.button-margin {
  margin: 8px 0;
}
.task-list-container {
  width: 100%;
  max-width: 360px;
}
.task-list-item {
  padding-left: 16px;
}
.task-name {
  padding-right: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.task-complete {
  text-decoration: line-through;
  color: gray;
}
